<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/registration.css" th:href="@{/css/registration.css}"/>
    <title th:text="#{registration.header.text}"></title>
    <script src="../static/js/sockjs.min.js" th:src="@{/js/sockjs.min.js}"></script>
    <script src="../static/js/stomp.min.js" th:src="@{/js/stomp.min.js}"></script>
    <script src="../static/js/registration.js" th:src="@{/js/registration.js}" th:inline="javascript"></script>
</head>
<body>
<div class="container">
    <div class="registration-header" th:text="#{registration.header.text}"></div>
    <table id="user-table">
        <tbody>
            <tr th:each="user : ${users}" th:id="${user.getUserId()}">
                <td class="user-item">
                    <img th:src="@{|images| + ${user.getImage()}}">
                    <span th:text="${user.getUsername()}"></span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="buttons">
        <button onclick="leave()" th:text="#{registration.leave.button}"></button>
        <button onclick="start()" th:text="#{registration.start.button}"></button>
    </div>
</div>
</body>
</html>